html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}


/* Aquí nos encontramos con el CSS del bloque div contenedor pero con FLEX-BOX. Para la barra lateral. */
@media (min-width: 768px) {
    .con-sidebar {
        display: flex;
        /* En este patrón de diseño tenemos un flex-box más pequeño que el contenido principal y a su vez posicionado 
        al lado derecho. Para las tiendas virtuales se utiliza mucho que el side bar se encuentre al lado derecho. */
        justify-content: space-between;
        gap: 2rem;
    }

    aside {
        flex: 1;
    }

    article {
        flex: 3;
    }
}