html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

img {
    max-width: 100%;
}

h1 {
    font-size: 4rem;
}

/** CODIGO AQUI **/

h2 {
    font-size: 3.2rem;
}

p {
    font-size: 2rem;
}

.contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;
}

.entrada-blog a {
    display: inline-block;
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

/* El código con mostly fluid es un poco más fluído cada ves se vea en un dispositivo diferente las margenes van a cambiar. */
.contenedor {
    max-width: 120rem;
    /* Con este width el contenido no llega hasta las orillas. */
    width: 95%;
    /* Los márgenes va a cer cero a la derecha, abajo y a la izquierda de manera automática. */
    margin: 0 auto;
}

img {
    max-width: 100%;
}